{{define "layout/header"}}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Applicator - Admin Dashboard Template</title>

  <link rel="shortcut icon" href="favicon.png">
  <link rel="stylesheet" href="css/app.min.css">
</head>

<body>
  <div class="app header-info">
    <div class="layout">
      <!-- Header START -->
      <div class="header navbar">
        <div class="header-container">
          <div class="nav-logo">
            <a href="index.html">
              <div class="logo logo-white" style="background-image: url('img/logo.png')"></div>
            </a>
          </div>
          <ul class="nav-left">
            <li>
              <a class="sidenav-fold-toggler" href="javascript:void(0);">
                <i class="mdi mdi-menu"></i>
              </a>
              <a class="sidenav-expand-toggler" href="javascript:void(0);">
                <i class="mdi mdi-menu"></i>
              </a>
            </li>
            <li class="search-box">
              <a class="search-toggle" href="javascript:void(0);">
                <i class="search-icon mdi mdi-magnify"></i>
                <i class="search-icon-close mdi mdi-close-circle-outline"></i>
              </a>
            </li>
            <li class="search-input">
              <input class="form-control" type="text" placeholder="Type to search...">
              <div class="search-predict">
                <div class="search-footer">
                  <span>You are Searching for '
                    <b class="text-dark">
                      <span class="serach-text-bind"></span>
                    </b>'
                  </span>
                </div>
              </div>
            </li>
          </ul>
          <ul class="nav-right">
            <li class="user-profile dropdown dropdown-animated scale-left">
              <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">
                <img class="profile-img img-fluid" src="img/avatar.png" alt="">
              </a>
              <ul class="dropdown-menu dropdown-md p-v-0">
                <li>
                  <ul class="list-media">
                    <li class="list-item p-15">
                      <div class="media-img">
                        <img src="img/avatar.png" alt="">
                      </div>
                      <div class="info">
                        <span class="title text-semibold">Krunoslav Husak</span>
                        <span class="sub-title">Developer</span>
                      </div>
                    </li>
                  </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="index.html">
                    <i class="ti-power-off p-r-10"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- Header END -->

      {{template "layout/navigation"}}

      <!-- Page Container START -->
      <div class="page-container">
        <!-- Content Wrapper START -->
        <div class="main-content">
          <div class="container-fluid">

{{end}}