{{define "layout/navigation"}}

<!-- Side Nav START -->
<div class="side-nav expand-lg">
  <div class="side-nav-inner">
    <ul class="side-nav-menu scrollable">
      <li class="side-nav-header">
        <span>Loto</span>
      </li>
      <li class="nav-item dropdown open">
        <a class="dropdown-toggle" href="/6od45">
          <span class="icon-holder">
            <i class="mdi mdi-pokeball"></i>
          </span>
          <span class="title">6 od 45</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="/7od39">
          <span class="icon-holder">
            <i class="mdi mdi-pokeball"></i>
          </span>
          <span class="title">7 od 39</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Side Nav END -->

{{end}}